.navbar {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: white;
}

#menu-button {
  margin: 20px;
  border: solid 1px;
  border-radius: 20px;
  font-size: 10px;
  padding: 10px
}



#nav-logo {
  margin: 20px;
  font-weight: bold
}